/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: linear-gradient(135deg, #b1bce5, #21498e);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    width: 100%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.title {
    color: #a3c5e5;
    font-size: 2rem;
    margin-bottom: 20px;
}

.input-section {
    margin: 20px 0;
}

#end-date-input {
    width: 100%;
    margin:10px;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

button {
    background-color: #f8cdda;
    margin-top: 20px;
    color: #0e2b70;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   
}

button:hover {
    background-color: #9c7eff;
    color:rgb(255, 255, 255);
}

.col {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.col div {
    text-align: center;
    padding: 10px;
}

input[type="text"] {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 8px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: #333;
    margin: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
